body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1b1f23; /* Dark background color */
    color: #e0e3e8; /* Light text color */
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #1b1f23;
    border-radius: 4px;
    background-color: #1b1f23; /* Input background color */
    color: #e0e3e8; /* Input text color */
}
button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1b1f23;
    border-radius: 4px;
    background-color: #e0e3e8; /* Button background color */
    color: #1b1f23; /* Button text color */
    cursor: pointer;
}
button:hover {
    background-color: #e0e3e8; /* Button hover color */
}

h1 { 
    text-align: center;
}

ul {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;

  }

  a:link, a:visited {
    border: solid #e0e3e8;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-top: 0.5rem;
  }
  
  a:hover, a:active {
    background-color: #e0e3e8;
    color:black;
  }

  input {
    border: solid #e0e3e8;
    padding: 2px;
    width: 100%;
  }